form {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  justify-content: center;
  column-gap: 4rem;
  border: 2px solid black;
  border-radius: 1rem;
  width: 60vw;
  height: 10rem;
  box-shadow: 5px 5px black;
}

label {
  font-size: 1.2em;
  font-weight:600 ;
}

.custom-select {
  display: flex;
  flex-direction: column;

  select {
    font-size: 13px;
    font-weight: 600;
    height: 3rem;
    padding: 0.25rem;
    cursor: pointer;
    background-color: rgb(82, 82, 82);
    border: 2px solid black;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px black;
  }
}

.custom-date {
  display: flex;
  flex-direction: column;

  input {
    font-size: 13px;
    font-weight: 600;
    height: 3rem;
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(82, 82, 82);
    color: white;
    border: 2px solid black;
    outline: none;
    border-radius:5px;
    box-shadow: 3px 3px black;
  }

  ::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 5px;
    cursor:pointer;
    border-radius: 3px;
  }


}


button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem;
  font-size: 12px;
  background-color: #0080ff;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 3px 3px black;
  border: 2px solid black;

  img {
    height: 1rem;
  }
}

button:disabled {
  color: #ffffffa6;
  background-color: #04519e;
}

.error-validation {
  color:red;
  font-weight:600;
   margin-top: 0.3rem
}
