<form [formGroup]="formulario">
  <div class="custom-select">
    <label for="currency">Moeda:</label>
    <select  id="currency" formControlName="currency">
      <option [value]="currency.id" *ngFor="let currency of currencies">{{ currency.text }}</option>
    </select>
  </div>
  <div class="custom-date">
    <label for="initialDate">Data Inicial:</label>
    <input id="initialDate" type="date" formControlName="initialDate">
    <div class="error-validation" *ngIf="formulario.get('initialDate')?.errors?.['required'] && formulario.get('initialDate')?.touched">Escolha uma data inicial</div>
  </div>
  <div class="custom-date">
    <label for="finalDate">Data Final:</label>
    <input id="finalDate" type="date"  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" formControlName="finalDate">
    <div class="error-validation" *ngIf="formulario.get('finalDate')?.errors?.['required'] &&formulario.get('finalDate')?.touched">Escolha uma data final</div>
    <div class="error-validation" *ngIf="formulario.errors?.['isEndDateLowerThanInitialDate'] && (formulario.touched || formulario.dirty)"> Data final maior que Data Inicial</div>
  </div>
  <div class="action">
    <button [disabled]="formulario.invalid" type="submit"> <img src="/assets/search-outline.svg" alt=""> Consultar</button>
  </div>
</form>
