form {
  display: flex;
  column-gap: 2rem;
  border: 2px solid black;
  border-radius: 0.25rem;
  padding: 1rem 12rem;
  background-color: rgb(227, 226, 226);
}

.custom-select {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.2em;
    font-weight:600 ;
  }

  select {
    font-size: 13px;
    font-weight: 600;
    height: 2.5rem;
    padding: 0.25rem;
    cursor: pointer;
    border: 2px solid black;
  }
}


