<section class="container">
  <form [formGroup]="formulario" class="card">
    <label>
      <span>Moeda</span>
      <select formControlName="currency">
        <option [value]="currency.id" *ngFor="let currency of currencies">{{ currency.text }}</option>
      </select>
    </label>

    <label>
      <span>Data Inicial:</span>
      <input formControlName="initialDate" type="date">
      <span *ngIf="formulario.get('initialDate')?.errors?.['required'] && formulario.get('initialDate')?.touched">Escolha uma data inicial</span>
    </label>

    <label>
      <span>Data Final:</span>
      <input type="date" formControlName="finalDate">
      <span *ngIf="formulario.get('finalDate')?.errors?.['required'] && formulario.get('finalDate')?.touched">Escolha uma data final</span>
      <span *ngIf="formulario.errors?.['isEndDateLowerThanInitialDate'] && (formulario.touched || formulario.dirty)"> Data final maior que Data Inicial</span>
    </label>

    <button [disabled]="formulario.invalid" (click)="handleSubmit()"> <img src="/assets/search-outline.svg" alt=""> Consultar</button>
  </form>

  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Cotação de Compra</th>
          <th scope="col">Cotação de Venda</th>
          <th scope="col">Data e hora da cotação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of data | async">
          <td>{{ b.cotacaoCompra }}</td>
          <td>{{ b.cotacaoVenda }}</td>
          <td>{{ b.dataHoraCotacao }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
